/* General styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: #063c2c;
  line-height: 1.6;
}

/* Header and Navigation */
header {
  background-color: #222;
  color: #fff;
  padding: 1em 0;
  position: relative;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0;
  font-size: 2.5em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.5em;
  border-radius: 10px;
  color: #ff4500; /* Letra roja */
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

nav li {
  margin: 0 1em;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #575757;
}

/* Video Background */
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

#bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Main Content */
main {
  padding: 2em;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
  z-index: 5;
}

section {
  margin-bottom: 2em;
}

h2 {
  color: #fe0b0b;
  font-size: 1.5em;
  border-bottom: 2px solid #333;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}

/* Forms and Buttons */
label {
  display: block;
  margin: 0.5em 0 0.2em 0;
}

input[type="number"], input[type="file"], textarea {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

button {
  padding: 0.7em 1.5em;
  background-color: #e364c1;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 1em;
  margin-top: 1em;
}

button:hover {
  background-color: #575757;
  transform: scale(1.05);
}

button:active {
  background-color: #444;
}

/* Table Styles */
#result {
  margin-top: 2em;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2em;
  font-size: 0.9em;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 0.5em;
  text-align: left;
}

th {
  background-color: #333;
  color: #fff;
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
  background-color: #e9e9e9;
}

/* Chart Container */
#chart-container {
  margin: 2em 0;
}

#myChart {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1em;
}

/* Analysis Summary */
#analysis-summary {
  padding: 1em;
  background-color: #f9f9f9;
  border-left: 4px solid #333;
  margin-top: 2em;
  font-style: italic;
  font-size: 1.1em;
  color: #555;
}

/* Footer */
footer {
  text-align: center;
  padding: 1em;
  background-color: #222;
  color: #fff;
  position: relative;
  z-index: 10;
}

footer p {
  margin: 0;
}

.logo {
  max-width: 100px;
  margin-right: 1em;
  display: inline-block;
}

/* Mobile styles */
@media (max-width: 768px) {
  nav ul {
      flex-direction: column;
  }

  nav li {
      margin: 0.5em 0;
  }

  header h1 {
      font-size: 2em;
  }

  button {
      width: 100%;
      text-align: center;
  }
}

/* Estilos para la sección de días de erupción */
#eruption-days {
  background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro */
  color: #ff4500; /* Letra roja */
  padding: 1em;
  border-radius: 10px;
  margin-top: 2em;
}

#eruption-days h2 {
  color: #fff;
  font-size: 1.8em;
  border-bottom: 2px solid #ff4500;
  padding-bottom: 0.3em;
  margin-bottom: 0.5em;
}

.eruption-info {
  color: #fff; /* Letra blanca */
  font-size: 1.1em;
}
